p {
  color: black;
  font-family: 'Unna', Georgia, "Times New Roman", serif;
  font-size: 25px
}

h1 {
  color: #4D5A63;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #DCE3E8;
}

.italic {
  font-style: italic;
}

#container {
  width: 85%;
  margin: 0 auto 0 auto;
}

#nav  {
  list-style-type: none;
  font-size: 25px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  padding: 0;
}

#nav li {
  text-align: center;
  padding: 0;
  background-color: #C3CACF;
  border: 0;
  border-bottom: 4px solid #DCE3E8;
}

#nav a:link, a:visited {
  display: block;
  text-decoration: none;
  color: #0080ff
}

#nav a:hover, a:active {
  text-decoration: none;
  background-color: #8C9297;
  color: white;
}

img {
  border: none;
}

a:link {
  color: #0080ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
