body {
    font-family: 'Unna', Georgia, "Times New Roman", serif;
}

h1 {
    font-size: 2em;
    color: #000000;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1em;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  padding: 3px;
}

a:link {
  color: #0080ff;
  text-decoration: none;
}

a:link a:visited {
  color: #0080ff;
}

a:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #C3CACF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
}

.navigation a {
  text-align: center;
  color: #4D5A63;
  padding: 0;
  display: block;
  border: 0;
  border-bottom: 1px solid #DCE3E8;
  font-size: 1em;
}

img {
  width: 100%
}

body {
  background-color: #DCE3E8;
}

article {
  background-color: #C3CACF;
  margin: 5px;
}

aside {
  background-color: #C3CACF;
  margin: 5px;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

header, article, aside {
  flex: 1 100%;
  padding: 10px;
}

.rockpile {
  display: none;
}

@media screen and (min-width:600px) {

  .navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .navigation a {
    padding: 10px;
    border: none;
  }

  article {
    display: flex;
    flex-flow: row wrap;

  }

  .image {
    width: 45%;
    padding: 10px;
    float: left;
  }

  .story {
    width: 45%;
  }

}

@media screen and (min-width:1000px) {

  #container {
    width: 95%;
    margin: 0 auto;
    max-width: 80em;
  }

  .navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .navigation a {
    padding: 10px;
    border: none;
  }

  .navigation a:hover {
    text-decoration: none;
    background-color: #8C9297;
    color: white;
  }

  article {
    flex: 3;
  }

  aside {
    flex: 1;
    order: 1;
  }

  article {
  display: flex;
  flex-flow: row wrap;
}

  .image {
    width: 45%;
    padding: 10px;
    float: left;
  }

  .story {
    width: 45%;
  }

  p{
		width: 80%;
		max-width: 60em;
	}

  .rockpile {
    display: block;
    order: 3;
    padding: 5px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

}
